
.dashboard-container-kd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}



/* Container für die Buttons */
.button-container-kd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Buttons */
    margin-top: 20px;
}

/* Stil für die Buttons */
.button-kd {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width:250px;;
    text-align: center;
}
