/* Stellt sicher, dass die gesamte Seite zentriert ist*/
.container-rd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Wrapper für die Buttons + Tabelle */
.layout-rd {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
}


/* Container für die Buttons */
.button-container-rd {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Buttons */
    margin-top: 20px;
}

/* Stil für die Buttons */
.button-rd {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width:250px;;
    text-align: center;
}

/* Container für die Saal-Liste */
.saal-container-rd {
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;

}


/* Tabelle anpassen */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;

}

/* Kopfzeile in der Tabelle */
th {
    font-weight: bold;
    background-color: #f0f0f0;
}

/* Dropdown-Feld */
.select {
    width: 100%;
    padding: 5px;
}
