/* Stellt sicher, dass die Seite zentriert ist */
.reservierung-container-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* Grid-Layout für die Form */
.form-grid-tr {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    align-items: center;
    margin-top: 20px;
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
}

/* Stellt sicher, dass Labels und Felder gut ausgerichtet sind */
label-tr {
    font-size: 16px;
    font-weight: bold;
    width: 60%;
}

/* Eingabefelder und Dropdowns */
input-tr, select-tr {
    padding: 5px;
    font-size: 16px;
    width: 150px;
    text-align: center;
}

/* Footer für Reservierungsnummer und Button */
.reservierung-footer-tr {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* Container für die Buttons */
.button-container-tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Abstand zwischen den Buttons */
    margin-top: 20px;
}

/* Stil für die Buttons */
.button-tr {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 250px;;
    text-align: center;
}
